form{
    display: flex;
    flex-direction: column;
    input{
        margin: 5px 10px;
        display: block;
        height: 30px;
        width: 100px;
    }
    button{
        margin: 5px 10px;
        display: block;
        height: 30px;
        width: 100px;
    }
}